* {
    margin: 0;
    padding: 0;
    text-decoration: none;
}
body {
    background-color: rgb(238, 235, 229);
}
#wrap {
    width: 100%;
}
header {
    width: 100%;
    height: 70px;
    background-color: rgb(238, 235, 229);
    position: fixed;
}
h1 {
    float: left;
    height: 70px;
}
h1 img {
    padding: 10px 0 10px 50px;
    width: 50px;
    height: 50px;
}
nav {
    width: 700px;
    padding-top: 20px;
    float: left;
}
nav > ul {
    width: 650px;
    margin: 0 auto;
}
nav > ul > li {
    list-style: none; 
    display: inline-block;
    padding: 5px 10px;
    margin-left: 20px;
    /* border: 1px solid red; */
}
nav > ul > li:last-child {
    margin-right: 0;
}
nav > ul > li > a {
    color: #777;
    font-size: 16px;
}



.marquee {
    height: 30px;
    background: rgb(8, 56, 42);
    clear: both;
    
    overflow: hidden;
    position: relative;
  }
  
  .marquee div {
    display: block;
    width: 200%;
    height: 30px;
  
    position: absolute;
    overflow: hidden;
  
    animation: marquee 10s linear infinite;
  }
  
  .marquee span {
    float: left;
    width: 50%;
    color: #fff;
    line-height: 30px;
    letter-spacing: 0.08em;
  }
  
  @keyframes marquee {
    0% { left: 0; }
    100% { left: -100%; }
  }



section {
    width: 50%;
    min-height: 100vh;
    float: left;
    position: fixed;
    margin-top: 100px;
    border-right: 1px solid rgb(198, 195, 188);
    z-index: -100;
}
#video {
    position: absolute;
    margin-left:70px;
    bottom: 450px;
}
#video > video {
    border-radius: 35px;
}
#txt {
    position: absolute;
    left: 50px;
    bottom: 240px;
}

h3 {
    font-size: 60px;
    padding: 20px;
}
#txt > p {
    padding-left: 20px ;
}




article {
    width: 50%;
    float: right;
    margin: 130px 0 100px;
}

#subject {
    width: 90%;
    max-width: 750px;
    margin: 0 auto;    
}
.enter {
    width: 42%;
    max-width: 300px;
    height: 330px;
    border-radius: 30px;
    background-color: #666;
    box-shadow: 3px 4px 8px 3px rgba(0, 0, 0, 0.3);
    float: left;
    margin: 0px  25px 50px 25px;
}
.enter:nth-of-type(even) {
    float: right;
}
.enter:nth-of-type(2) {
    margin-top: 30px;
}
.enter:first-of-type {
    height: 50px;
    background: none;
    box-shadow: none;
}

h2 {
    text-align: center;
    width: 200px;
    height: 100px;
    font-size: 30px;
    margin: 85px auto 45px;
}

.enter > button {
    width: 180px;
    height: 52px;
    background: rgb(0, 0, 0, 0.6);
    border: none;
    border-radius: 100px;
    color: #fff;
    display: block;
    margin: 0 auto;
    cursor: pointer;
}

.enter > button:hover {
    background: rgb(0, 0, 0);
    color: rgb(255, 255, 255);
}

#subj1 {
    background: linear-gradient(310deg, rgb(107, 31, 213) 0%, rgb(164, 128, 255) 100%);
}
#subj2 {
    background: linear-gradient(310deg, rgb(224, 106, 106) 0%, rgb(247, 144, 113) 100%);
}
#subj3 {
    background: linear-gradient(310deg, rgb(250, 175, 23) 0%, rgb(250, 213, 103) 100%);
}
#subj4 {
    background: linear-gradient(310deg, rgb(87, 150, 99) 0%, rgb(160, 226, 181) 100%);
}
#subj5 {
    background: linear-gradient(310deg, rgb(110, 105, 96) 0%, rgb(174, 168, 151) 100%);
}
#subj6 {
    background: linear-gradient(310deg, rgb(31, 102, 173) 0%, rgb(81, 172, 221) 100%);
}

footer {
    clear: both;
    width: 100%;
    height: 35px;
    background: rgb(2, 34, 17);
    position: fixed;
    bottom: 0px;
}
footer > p {
    text-align: center;
    line-height: 40px;
    color: rgb(238, 235, 229);
    font-size: 15px;
}
